<app-navbar></app-navbar>

<div class="container d-flex justify-content-center p-5" >
    <div class="error-template">
        <h1>
            Oops!</h1>
        <h2>
            404 Not Found</h2>
        <div class="error-details">
            Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
            <br>
            <a routerLink="/home" class="btn btn-danger btn-log">
                Go Back To Home
            </a>
        </div>
    </div>
</div>